<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/contactostyle.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Zen+Loop&display=swap" rel="stylesheet">

    <title>Contacto | Maya Joyas</title>
    
</head>

<!-- HEADER -->
<body>
    <div class="encabezado">
        <header>
            <a href="/"><img id="LogoJM" src="/images/MJ_logos/LogoMJ.png" alt="Logo-Maya-Joyas"></a>
            <div id="Menu-Usuario">
    
                <img src="/images/Header_icons/Icono-Buscar.png" alt="Icono-Buscar" class="icon-sup">
                <span class="menu-usu"><a id="Buscar" href="#Buscar">Buscar</a></span>
                         
                <img src="/images/Header_icons/Icono-Cuenta.png" alt="Icono-Cuenta" class="icon-sup">
                <span class="menu-usu"><a id="Cuenta" href="#Cuenta">Cuenta</a></span>
               
                <img src="/images/Header_icons/Icono-Cesta.png" alt="Icono-Cesta" class="icon-sup">
                <span class="menu-usu"><a id="Cesta" href="#Cesta">Cesta</a></span>
                
            </div>
        </header>
    
        <nav>
            <ul class="navegacion">
            
              <li>
                <span>Piezas</span>
                <ul class="sub-navegacion">
                  <li><a href="/anillos">Anillos</a></li>
                  <li>Caravanas</li>
                  <li>Pulseras</li>
                  <li>Collares</li>
                  <li>Conjuntos</li>
                  <li>Prendedores</li>
                </ul>
              </li>
              <li>Guía de talles</li>
              <li>Cómo comprar</li>
              <li><a href="/contacto">Contacto</a></li>
             </ul>
          </nav>
    
        </div>

<main>

    <div>
        <h2 class="page_title">Contacto</h2>
        <p>¡Gracias por ingresar a Maya Joyas!</p>
            
        <p>Si deseas contactarte con nosotros, dejanos tu mensaje en el formulario a continuación.</p>

        <p> Si tenés alguna duda o pregunta te responderemos con la mayor rapidez posible.
        Si tenés alguna sugerencia para hacernos, también podés dejarnos un mensaje, a nosotros nos encantaría saberla y nos ayudás a mejorar!</p>

        <p id="gracias">¡Muchas gracias!</p>
        </p>
    </div>

    <form method="POST" action="http://localhost:4000/contacto">

        <label for="name">Nombre: </label><br>
        <input 
        id="name" 
        type="text" 
        name="name" 
        placeholder="Nombre"><br>

        <label for="email">Email de contacto: </label><br>
        <input id="email" 
        type="text" 
        name="email" 
        placeholder="Email"><br>
       
        <label for="telefono">Teléfono de contacto: </label><br>
        <input id="telefono" 
        type="tel" 
        name="telefono" 
        placeholder="Teléfono"><br>
      
        <label for="mensaje">Dejanos tu mensaje: </label><br>
        <textarea id="mensaje" 
        name="mensaje" 
        rows="6" 
        required= true></textarea><br>

        <button id="enviar" type="submit">¡Enviar!</button>

        <button id="reset" type="reset">Borrar todo</button>

    </form>

</main>
  
</body>

<!-- FOOTER -->
<footer>
    <div class="divs-pie" id="Pie1">
     <h3 class="titulos-pie" id="Redes">Seguinos en redes</h3>
     <img src="/images/Footer_icons/Logo-IG.png" alt="Logo-IG" class="logos-pie" id="logo-IG">
     <a class="links-pie" id="Instagram" href="#IG">@mayajoyas</a>
     <img src="/images/Footer_icons/Logo-FB.png" alt="Logo-FB" class="logos-pie" id="logo-FB">
     <a class="links-pie" id="Facebook" href="#FB">@mayajoyas1</a>
   </div>

</footer>