<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Zen+Loop&display=swap" rel="stylesheet">
    
</head>

<footer>

    <div class="divs-pie" id="Pie1">

     <h3 class="titulos-pie" id="Redes">Seguinos en redes</h3>
     <img src="/images/Footer_icons/Logo-IG.png" alt="Logo-IG" class="logos-pie" id="logo-IG">
     <a class="links-pie" id="Instagram" href="#IG">@mayajoyas</a>
     <img src="/images/Footer_icons/Logo-FB.png" alt="Logo-FB" class="logos-pie" id="logo-FB">
     <a class="links-pie" id="Facebook" href="#FB">@mayajoyas1</a>
   
    </div>

</footer>