<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Zen+Loop&display=swap" rel="stylesheet">

    <title>Contacto | Maya Joyas</title>
    
</head>

<!-- HEADER -->
<body>
    <div class="encabezado">
        <header>
            <a href="/"><img id="LogoJM" src="/images/MJ_logos/LogoMJ.png" alt="Logo-Maya-Joyas"></a>
            <div id="Menu-Usuario">
    
                <img src="/images/Header_icons/Icono-Buscar.png" alt="Icono-Buscar" class="icon-sup">
                <span class="menu-usu"><a id="Buscar" href="#Buscar">Buscar</a></span>
                         
                <img src="/images/Header_icons/Icono-Cuenta.png" alt="Icono-Cuenta" class="icon-sup">
                <span class="menu-usu"><a id="Cuenta" href="#Cuenta">Cuenta</a></span>
               
                <img src="/images/Header_icons/Icono-Cesta.png" alt="Icono-Cesta" class="icon-sup">
                <span class="menu-usu"><a id="Cesta" href="#Cesta">Cesta</a></span>
                
            </div>
        </header>
    
        <nav>
            <ul class="navegacion">
            
              <li>
                <span>Piezas</span>
                <ul class="sub-navegacion">
                  <li><a href="/anillos">Anillos</a></li>
                  <li>Caravanas</li>
                  <li>Pulseras</li>
                  <li>Collares</li>
                  <li>Conjuntos</li>
                  <li>Prendedores</li>
                </ul>
              </li>
              <li>Guía de talles</li>
              <li>Cómo comprar</li>
              <li><a href="/contacto">Contacto</a></li>
             </ul>
          </nav>
    
        </div>