<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/homestyle.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Zen+Loop&display=swap" rel="stylesheet">

    <title>Inicio | Maya Joyas</title>
    
</head>

<!-- HEADER -->
<%- include('header'); %>

<main>
      
  <script src="/js/carruseljs.js"></script>

</main>

  <section id="Informacion">
      
  <div id="TratoP">
      <img src="/images/Sectionhome_icons/Icono-tratopers.png" alt="Icono-TP" class="iconos-sec" id="Icono-TP">
      <h3 class="H3-sec">Trato Personalizado</h3>
      <p class="textos-sec"> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum distinctio quos quaerat blanditiis illo aperiam aspernatur adipisci repudiandae labore, nulla possimus sequi tempore itaque veritatis dignissimos perferendis sint consequatur. Laboriosam?
      </p>
  </div>

  <div id="Suscribite">
      <img src="/images/Sectionhome_icons/Icono-suscribite.png" alt="Icono-Suscr" class="iconos-sec" id="Icono-Suscr">
      <h3 class="H3-sec">Suscribite</h3>
      <p class="textos-sec"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui laudantium fuga sint voluptatem autem nobis impedit, porro dicta illum nesciunt! Blanditiis, molestiae cum dolorem veritatis ipsam veniam! Quisquam, quas doloremque.</p>
  </div>

  <div id="Garantias">
      <img src="/images/Sectionhome_icons/Icono-garantias.png" alt="Icono-Garantia" class="iconos-sec" id="Icono-Garantia">
      <h3 class="H3-sec">Garantía asegurada</h3>
      <p class="textos-sec"> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti culpa deserunt sed, labore aspernatur consectetur impedit voluptas saepe hic praesentium in cupiditate voluptates ratione vel, est error neque temporibus dignissimos!</p>
  </div>

</section>


<!-- FOOTER -->
<%- include('footer'); %>